{% extends 'navigationbar.html'%}

{% load static %}
{% block body %}

{% ifequal error "no" %}
<script>
    alert('Logged In Successfully');
    window.location=('{% url 'home' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid Login Credentials,Try again');   
    
</script>
{% endifequal %}

<div class="container">
    <h2 class="text-center">Admin Login</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Admin Name</label>
        <input type="text" class="form-control" name="uname">
        <label>Password</label>
        <input type="password" class="form-control" name="pwd">
        <br>
        <input type="submit" value="login" class="form-control" btn btn-primary>
    </form>
</div>

{% endblock %}